# Dependency directories
node_modules/
/build/

# Package manager
.pnp.*
.pnpm-debug.log*

# Editor/OS files
.idea/
**/.DS_STORE
*.swo
*.swp

# Logs
log/
*.log

# Environment/Secrets
env.sh
.env
.env.local


# Ignore local PNPM stores
.pnpm-store/
