.markdown {
  & p, & li, & span, & a {
    font-size: 16px;
    font-weight: 400;
  }
  & pre code span, & pre code {
    font-size: 14px;
  }
  & h1, & h2, & h3, & h4, & h5, & h6 {
    line-height: 1.3em;
    font-weight: 600;
  }

  & ol, & ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  & li {
    &:before {
      font-size: 14px;
    }
  }
}
.no-indent, .no-indent .markdown {
  & p {
    text-indent: 0;
  }
}

.inline-code-decoration {
  background-color: var(--inline-code-bg);
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
  border: 1px solid var(--inline-code-border);

  /* provides a little daylight between the border and punctuation */
  /* but not so much that it looks bad next to text */
  margin-right: 0.05em;
}

.markdown {
  /* target code blocks but only those that are inline */
  & > *:not(pre) > code, & *:not(pre) *:not(pre) > code, & figcaption code {
    /* inline-code-decoration content */
    background-color: var(--inline-code-bg);
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    border: 1px solid var(--inline-code-border);
    margin-right: 0.05em;
  }
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    & > code {
      line-height: 1.4em;
    }
  }
  & p a code {
    text-decoration: underline;
    color: var(--inline-code-link-text);
    border-color: var(--inline-code-link-border);
    background-color: var(--inline-code-link-bg);
    &:hover {
      background-color: var(--inline-code-link-color);
    }
  }
}

.markdown-centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dominion, .markdown {
  & section {
    width: 500px;
    & p {
      margin-bottom: 10px;
      line-height: 1.3;
    }
    & h1, & h2 {
      margin-bottom: 20px;
    }
    & h1 {
      font-size: 24px;
    }
  }

  & section:not(:last-child) {
    margin-bottom: 30px;
  }

  & #editor-container {
    border-right: 1px solid var(--editor-color);
    border-bottom: 1px solid var(--editor-color);
  }

  & #run-button:disabled, & #run-button:disabled:hover {
    background-color: rgba(255,235,0,0.4);
  }

  & #run-button {
    height: 28px;
    width: 120px;

    border-width: 1px;
    border-color: rgb(232, 232, 232);

    font-size: 14px;
    color: rgb(80,80,80);
  }

  & #run-button:hover {
    background-color: rgba(109, 189, 35, 0.2);
  }
}

.wide .markdown {
  width: 700px;
}
.markdown {
  width: 550px;
  & h1 {
    font-size: 24px;
  }
  & h2 {
    font-size: 20px;
  }
  & h3 {
    font-size: 18px;
  }
  & a {
    text-decoration: underline;
  }
  & p {
    line-height: 1.6;
    margin-bottom: 12px;
    & * {
      text-indent: initial;
    }
  }
}
.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
  margin-bottom: 12px;
  margin-top: 20px;
  color: #000;
}
.markdown {
  & > div > *:first-child {
    margin-top: 0;
  }
  & h1 {
    margin-top: 45px;
  }
  & h2 {
    color: rgb(68,68,68);
    margin-top: 35px;
  }
}

.inline-markdown {
  & .markdown {
    display: inline;
    & p {
      display: inline;
    }
  }
}

.katex {
  font: normal 1.1em KaTeX_SansSerif, sans-serif !important;
}

.inline-markdown {
  & .katex {
    font: normal 1em KaTeX_SansSerif, sans-serif !important;
  }
}

.markdown figcaption {
  font-size: 14px;
  font-weight: 300;
}

.head-note {
  & :last-child {
    margin-bottom: 0;
  }
  padding: 1em;
  background-color: var(--light-gray);
  border-radius: 5px;
  margin: 1em 1em;
}
