#go-game.go-game.go-game-small {
  & .board {
    width: var(--small-go-size);
    max-height: var(--small-go-size);
    & svg {
      width: var(--small-go-size);
      height: var(--small-go-size);
    }
  }
}

#go-game, .go-game {
  & .board {
    margin: 45px 45px 30px 30px;
    & svg {
      overflow-x: visible;
      overflow-y: visible;
      width: var(--go-size);
      height: var(--go-size);
      margin-bottom: -3px;
    }
    & svg rect {
      fill: var(--board-color-shadow);
    }
    background-color: var(--board-color);
    width: var(--go-size);
    max-height: var(--go-size);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    & svg line {
      stroke: rgba(0, 0, 0, 0.8);
      stroke-width: 0.05;
      stroke-linecap: square;
    }
  }


  & .table {
    margin-top: 4rem;
    display: inline-block;
  }

  & .label {
    text-transform: uppercase;
    font-size: 0.8px;
    font-family: 'Roboto', sans-serif;

    &.y-label {
      alignment-baseline: middle;
    }
  }

  & .piece {
    &:hover {
      stroke: green;
      stroke-width: 0.1;
    }

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

    &.black {
      fill: black;
    }

    &.white {
      fill: white;
    }
  }

  & .piece-target {
    opacity: 0;
  }
}


.portal-wrapper #go-game .table {
  margin-top: 2rem;
}
